<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.14.0" targetFramework="net452" />
  <package id="Coypu.NUnit" version="1.4.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.3" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net452" />
</packages>